<%- include("../starters/header") %>

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Turnieje badmintona!</h1>
			<p>Sprawdź nasze turnieje badmintona i weź udział!</p>
			<p>
				<a class="btn btn-primary btn-lg" href="/tournaments/new">Dodaj swój turniej!</a>
			</p>
		</div>
	</header>
	<a class="btn btn-primary btn-lg" href="/tournaments/page/1">Zobacz wszystkie nasze turnieje!</a>
</div>

<%- include("../starters/footer") %>