<%- include("../starters/header") %>

<div class="container">
    <div class="row">
        <h1>Zresetuj hasło</h1>
            <form method="POST" action="/reset">
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Adres E-mail" required>
                </div>
                <div class="form-group">
                    <input class="btn btn-lg btn-primary" type="submit" value="Resetuj hasło">
                </div>
            </form>
            <a href="/tournaments">Powrót do strony z turniejami</a>
    </div>
</div>

<%- include("../starters/footer") %>